@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,900;1,700&display=swap');
$blue: #3f51b5;
$red: #ff5252;
body {
    margin: 0;
    font-family: 'Poppins';
}

nav {
    background-color: $blue;
    height: 4em;
    h1 {
        text-align: center;
        margin: 0;
        color: white;
        font-size: 2em;
        line-height: 2em;
    }
}

main {
    background-color: #eee;
    padding: 25px;
    min-height: calc(100vh - 4em - 50px);
    h1 {
        margin: 0;
        text-align: center;
        font-size: 1.5em;
    }
    .wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: calc(100vw - 50px);
        .course {
            cursor: pointer;
            background-color: $red;
            min-width: 300px;
            min-height: 300px;
            width: 25vw;
            height: 25vw;
            margin: 25px;
            overflow: hidden;
            border-radius: 5px;
            p {
                color: white;
                text-align: center;
                margin: 0;
                margin-top: calc(9% - 1em);
            }
            img {
                height: 80%;
            }
        }
    }
}