@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,900;1,700&display=swap");
body {
  margin: 0;
  font-family: "Poppins";
  background-color: #fff;
  display: flex;
  transition: 0.5s;
  overflow-x: hidden;
}

.dark {
  background: #000;
}
.dark nav {
  background: #222;
}
.dark main {
  background-color: #000;
}
.dark main h1 {
  color: white;
}
.dark .course {
  background-image: url("background2.jpg");
}
.dark .select {
  background-color: #222;
  color: white;
}
.dark .select .num,
.dark .select select {
  border: 2px solid #ad2b9e;
  color: white;
  background-color: black;
  outline: none;
}
.dark .select button {
  background: #ad2b9e;
}
.dark .select input[type=text],
.dark .select textarea {
  background-color: black;
  color: white;
}
.dark .card .finished {
  background: #ad2b9e;
}
.dark .card select {
  border: 2px solid #ad2b9e;
  color: white;
  background-color: black;
  outline: none;
}
.dark .card .table {
  border-color: #333;
  color: white;
}
.dark .card .table .cell,
.dark .card .table .par,
.dark .card .table .hcp {
  border-color: #333;
}

.light nav {
  background-color: #3f51b5;
}
.light main {
  background-color: #fff;
}
.light main h1 {
  color: #000;
}
.light .course {
  background-image: url("background4.jpg");
}
.light .select {
  background-color: white;
}
.light .select .num,
.light .select select {
  border: 2px solid #3f51b5;
}

nav {
  transition: 0.5s;
  height: 3em;
  position: fixed;
  width: 100vw;
  top: 0;
}
nav h1 {
  text-align: center;
  margin: 0;
  color: white;
  font-size: 1.5em;
  line-height: 2em;
}

main {
  transition: 0.5s;
  padding: 25px;
  min-height: calc(100vh - 4em - 50px);
  margin: 3em 0 0 0;
  max-width: calc(100vw - 50px);
}
main h1 {
  margin: 0;
  text-align: center;
  font-size: 1em;
  transition: 0.5s;
}
main .wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: calc(100vw - 50px);
}
main .wrap .course {
  cursor: pointer;
  min-width: 300px;
  min-height: 300px;
  width: 25vw;
  height: 25vw;
  margin: 25px;
  overflow: hidden;
  border-radius: 5px;
  transition: 0.5s;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}
main .wrap .course:hover {
  margin-top: 15px;
  transition: 0.2s;
}
main .wrap .course p {
  color: white;
  text-align: center;
  margin: 0;
  margin-top: calc(9% - 1em);
}
main .wrap .course img {
  height: 80%;
}

.select {
  position: fixed;
  top: 10%;
  left: 5vw;
  transform: translateY(-50%);
  z-index: 2;
  width: calc(90vw - 6em);
  max-height: calc(100vh - 9em);
  transform: scale(0);
  padding: 3em 3em 1em 3em;
  transition: 0.5s;
  overflow-y: scroll;
  transition-timing-function: cubic-bezier(0.32, -0.62, 0.83, 0.67);
}
.select .player {
  margin-bottom: 2em;
}
.select p {
  font-weight: 700;
  margin: 0;
}
.select p span {
  font-weight: 500;
  font-size: 0.75em;
}
.select .num {
  outline: none;
  border: 2px solid #3f51b5;
  padding: 0.5em;
  border-radius: 0.25em;
  width: calc(90vw - 9em);
  max-width: 500px;
  margin-top: 2em;
}
.select button {
  float: right;
  clear: right;
  width: 6em;
  outline: none;
  background: #3f51b5;
  color: white;
  font-weight: 700;
  padding: 0.5em;
  border-radius: 3px;
  border: none;
  margin: 1em 0.5em;
}
.select .buttonWrap {
  display: flex;
  justify-content: space-around;
}
.select .buttonWrap button {
  float: none;
  clear: none;
}
.select .error {
  color: red;
  font-size: 0.75em;
  font-weight: 300;
  margin: 0;
}
.select .name {
  outline: none;
  padding: 0.5em;
  border-radius: 0.25em;
  width: calc(90vw - 9em);
  max-width: 500px;
}
.select .name:focus {
  outline: none;
}
.select select {
  outline: none;
  border: 2px solid #3f51b5;
  padding: 0.5em;
  border-radius: 0.25em;
  width: calc(90vw - 8em + 4px);
  max-width: 500px;
}

.modalbg {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  width: 100vw;
  height: 110vh;
  position: fixed;
}

.activeSelect {
  overflow-y: hidden;
}
.activeSelect .modalbg {
  display: block;
}
.activeSelect .select {
  transform: scale(1);
  transition-timing-function: cubic-bezier(0.25, 1.11, 0.66, 1.39);
}

.cardActive main {
  margin-left: -100vw;
}

.card {
  margin-top: 3em;
  padding: 1em;
  width: calc(100vw - 2em);
}
.card select {
  outline: none;
  border: 2px solid #3f51b5;
  padding: 0.5em;
  border-radius: 0.25em;
  width: 7em;
  max-width: 500px;
  height: 2.5em;
  margin-bottom: 2em;
}
.card .table {
  border: 2px solid black;
  display: flex;
  width: 100%;
  justify-content: space-around;
  text-align: center;
}
.card .column {
  width: 25%;
  padding: 0.25em 0 0 0;
}
.card .column .cell {
  padding: 0.25em 0;
  border-top: 2px solid black;
  height: 1.5em;
}
.card .par {
  border-left: 2px solid black;
}
.card .hcp {
  border-left: 2px solid black;
}
.card .finished {
  float: right;
  clear: right;
  width: 6em;
  outline: none;
  background: #3f51b5;
  color: white;
  font-weight: 700;
  padding: 0.5em;
  border-radius: 3px;
  border: none;
  margin: 1em 0.5em;
}

.wrapper {
  position: fixed;
  min-height: 100vh;
  min-width: 100vw;
}

[class|=confetti] {
  position: absolute;
}

.confetti-0 {
  width: 6px;
  height: 2.4px;
  background-color: #d13447;
  top: -10%;
  left: 24%;
  opacity: 1.3562084754;
  transform: rotate(133.6776839724deg);
  animation: drop-0 4.3101210349s 0.9011098103s 1;
}

@keyframes drop-0 {
  100% {
    top: 110%;
    left: 34%;
  }
}
.confetti-1 {
  width: 6px;
  height: 2.4px;
  background-color: #d13447;
  top: -10%;
  left: 58%;
  opacity: 1.4791320263;
  transform: rotate(143.0504341869deg);
  animation: drop-1 4.8480115263s 0.346890079s 1;
}

@keyframes drop-1 {
  100% {
    top: 110%;
    left: 67%;
  }
}
.confetti-2 {
  width: 3px;
  height: 1.2px;
  background-color: #d13447;
  top: -10%;
  left: 40%;
  opacity: 1.4301333415;
  transform: rotate(194.4930468994deg);
  animation: drop-2 4.9599714957s 0.2119351969s 1;
}

@keyframes drop-2 {
  100% {
    top: 110%;
    left: 43%;
  }
}
.confetti-3 {
  width: 2px;
  height: 0.8px;
  background-color: #d13447;
  top: -10%;
  left: 38%;
  opacity: 1.040930636;
  transform: rotate(348.7692379993deg);
  animation: drop-3 4.9668727545s 0.7453249326s 1;
}

@keyframes drop-3 {
  100% {
    top: 110%;
    left: 44%;
  }
}
.confetti-4 {
  width: 2px;
  height: 0.8px;
  background-color: #d13447;
  top: -10%;
  left: 20%;
  opacity: 1.3891588424;
  transform: rotate(188.7505730549deg);
  animation: drop-4 4.1319613775s 0.5157408882s 1;
}

@keyframes drop-4 {
  100% {
    top: 110%;
    left: 25%;
  }
}
.confetti-5 {
  width: 7px;
  height: 2.8px;
  background-color: #263672;
  top: -10%;
  left: 81%;
  opacity: 0.5042430533;
  transform: rotate(28.6689863499deg);
  animation: drop-5 4.7754204068s 0.2276068817s 1;
}

@keyframes drop-5 {
  100% {
    top: 110%;
    left: 95%;
  }
}
.confetti-6 {
  width: 4px;
  height: 1.6px;
  background-color: #d13447;
  top: -10%;
  left: 13%;
  opacity: 0.5531583876;
  transform: rotate(150.9395096852deg);
  animation: drop-6 4.156873859s 0.511844963s 1;
}

@keyframes drop-6 {
  100% {
    top: 110%;
    left: 18%;
  }
}
.confetti-7 {
  width: 3px;
  height: 1.2px;
  background-color: #263672;
  top: -10%;
  left: 5%;
  opacity: 0.9982408833;
  transform: rotate(191.9592743792deg);
  animation: drop-7 4.1769950214s 0.6595403017s 1;
}

@keyframes drop-7 {
  100% {
    top: 110%;
    left: 17%;
  }
}
.confetti-8 {
  width: 7px;
  height: 2.8px;
  background-color: #263672;
  top: -10%;
  left: 13%;
  opacity: 0.6887920636;
  transform: rotate(47.7333968031deg);
  animation: drop-8 4.9278202039s 0.541575584s 1;
}

@keyframes drop-8 {
  100% {
    top: 110%;
    left: 19%;
  }
}
.confetti-9 {
  width: 6px;
  height: 2.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 4%;
  opacity: 0.8274350993;
  transform: rotate(294.5828987155deg);
  animation: drop-9 4.6786413412s 0.9396738467s 1;
}

@keyframes drop-9 {
  100% {
    top: 110%;
    left: 11%;
  }
}
.confetti-10 {
  width: 6px;
  height: 2.4px;
  background-color: #263672;
  top: -10%;
  left: 7%;
  opacity: 0.6068339429;
  transform: rotate(295.3229449255deg);
  animation: drop-10 4.4836828224s 0.0528527536s 1;
}

@keyframes drop-10 {
  100% {
    top: 110%;
    left: 10%;
  }
}
.confetti-11 {
  width: 3px;
  height: 1.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 61%;
  opacity: 1.0139302299;
  transform: rotate(321.6572105158deg);
  animation: drop-11 4.7337795333s 0.2214923388s 1;
}

@keyframes drop-11 {
  100% {
    top: 110%;
    left: 70%;
  }
}
.confetti-12 {
  width: 4px;
  height: 1.6px;
  background-color: #ffbf00;
  top: -10%;
  left: 19%;
  opacity: 0.9389229283;
  transform: rotate(101.6938039269deg);
  animation: drop-12 4.5567508594s 0.700151856s 1;
}

@keyframes drop-12 {
  100% {
    top: 110%;
    left: 30%;
  }
}
.confetti-13 {
  width: 1px;
  height: 0.4px;
  background-color: #d13447;
  top: -10%;
  left: 75%;
  opacity: 1.2367154922;
  transform: rotate(112.1959834767deg);
  animation: drop-13 4.1507910294s 0.3231337349s 1;
}

@keyframes drop-13 {
  100% {
    top: 110%;
    left: 78%;
  }
}
.confetti-14 {
  width: 8px;
  height: 3.2px;
  background-color: #d13447;
  top: -10%;
  left: 41%;
  opacity: 1.1991403591;
  transform: rotate(217.6473655312deg);
  animation: drop-14 4.6202715295s 0.5959296955s 1;
}

@keyframes drop-14 {
  100% {
    top: 110%;
    left: 54%;
  }
}
.confetti-15 {
  width: 4px;
  height: 1.6px;
  background-color: #263672;
  top: -10%;
  left: 98%;
  opacity: 1.4807922733;
  transform: rotate(125.0803084501deg);
  animation: drop-15 4.4544951728s 0.529875835s 1;
}

@keyframes drop-15 {
  100% {
    top: 110%;
    left: 102%;
  }
}
.confetti-16 {
  width: 2px;
  height: 0.8px;
  background-color: #d13447;
  top: -10%;
  left: 33%;
  opacity: 0.7416602509;
  transform: rotate(9.5920105257deg);
  animation: drop-16 4.3836758552s 0.6959135341s 1;
}

@keyframes drop-16 {
  100% {
    top: 110%;
    left: 46%;
  }
}
.confetti-17 {
  width: 5px;
  height: 2px;
  background-color: #263672;
  top: -10%;
  left: 41%;
  opacity: 1.4520598659;
  transform: rotate(102.1111837749deg);
  animation: drop-17 4.7438430811s 0.5748897073s 1;
}

@keyframes drop-17 {
  100% {
    top: 110%;
    left: 46%;
  }
}
.confetti-18 {
  width: 6px;
  height: 2.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 33%;
  opacity: 0.6945491117;
  transform: rotate(112.8911733567deg);
  animation: drop-18 4.4506578533s 0.3702827086s 1;
}

@keyframes drop-18 {
  100% {
    top: 110%;
    left: 37%;
  }
}
.confetti-19 {
  width: 1px;
  height: 0.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 13%;
  opacity: 1.3591893709;
  transform: rotate(257.1272758671deg);
  animation: drop-19 4.0268909241s 0.6146844837s 1;
}

@keyframes drop-19 {
  100% {
    top: 110%;
    left: 16%;
  }
}
.confetti-20 {
  width: 4px;
  height: 1.6px;
  background-color: #d13447;
  top: -10%;
  left: 21%;
  opacity: 0.7782341258;
  transform: rotate(325.9092377943deg);
  animation: drop-20 4.5883248106s 0.1007457267s 1;
}

@keyframes drop-20 {
  100% {
    top: 110%;
    left: 30%;
  }
}
.confetti-21 {
  width: 5px;
  height: 2px;
  background-color: #d13447;
  top: -10%;
  left: 99%;
  opacity: 1.2785732675;
  transform: rotate(246.0481910905deg);
  animation: drop-21 4.310540575s 0.4787395722s 1;
}

@keyframes drop-21 {
  100% {
    top: 110%;
    left: 113%;
  }
}
.confetti-22 {
  width: 1px;
  height: 0.4px;
  background-color: #263672;
  top: -10%;
  left: 67%;
  opacity: 0.5008656708;
  transform: rotate(336.7947800807deg);
  animation: drop-22 4.2357355147s 0.3793798323s 1;
}

@keyframes drop-22 {
  100% {
    top: 110%;
    left: 77%;
  }
}
.confetti-23 {
  width: 1px;
  height: 0.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 29%;
  opacity: 1.4830914625;
  transform: rotate(334.1343738623deg);
  animation: drop-23 4.7614170112s 0.7375714274s 1;
}

@keyframes drop-23 {
  100% {
    top: 110%;
    left: 42%;
  }
}
.confetti-24 {
  width: 6px;
  height: 2.4px;
  background-color: #d13447;
  top: -10%;
  left: 22%;
  opacity: 0.5041532094;
  transform: rotate(31.2825042379deg);
  animation: drop-24 4.6891715113s 0.1637775375s 1;
}

@keyframes drop-24 {
  100% {
    top: 110%;
    left: 37%;
  }
}
.confetti-25 {
  width: 8px;
  height: 3.2px;
  background-color: #263672;
  top: -10%;
  left: 41%;
  opacity: 1.4109394369;
  transform: rotate(199.2793993011deg);
  animation: drop-25 4.021238611s 0.7242443793s 1;
}

@keyframes drop-25 {
  100% {
    top: 110%;
    left: 56%;
  }
}
.confetti-26 {
  width: 5px;
  height: 2px;
  background-color: #d13447;
  top: -10%;
  left: 83%;
  opacity: 1.1536097967;
  transform: rotate(233.8430533929deg);
  animation: drop-26 4.3382181337s 0.9526653305s 1;
}

@keyframes drop-26 {
  100% {
    top: 110%;
    left: 91%;
  }
}
.confetti-27 {
  width: 5px;
  height: 2px;
  background-color: #ffbf00;
  top: -10%;
  left: 99%;
  opacity: 1.003680403;
  transform: rotate(299.0487982371deg);
  animation: drop-27 4.9859379121s 0.4160654854s 1;
}

@keyframes drop-27 {
  100% {
    top: 110%;
    left: 100%;
  }
}
.confetti-28 {
  width: 6px;
  height: 2.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 28%;
  opacity: 1.4150703567;
  transform: rotate(339.1254386225deg);
  animation: drop-28 4.4695816503s 0.3278558082s 1;
}

@keyframes drop-28 {
  100% {
    top: 110%;
    left: 36%;
  }
}
.confetti-29 {
  width: 5px;
  height: 2px;
  background-color: #d13447;
  top: -10%;
  left: 95%;
  opacity: 1.202595339;
  transform: rotate(76.1921029959deg);
  animation: drop-29 4.1864955026s 0.9721308804s 1;
}

@keyframes drop-29 {
  100% {
    top: 110%;
    left: 106%;
  }
}
.confetti-30 {
  width: 6px;
  height: 2.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 18%;
  opacity: 1.1848523069;
  transform: rotate(231.6122860407deg);
  animation: drop-30 4.3793477318s 0.5000816908s 1;
}

@keyframes drop-30 {
  100% {
    top: 110%;
    left: 22%;
  }
}
.confetti-31 {
  width: 5px;
  height: 2px;
  background-color: #263672;
  top: -10%;
  left: 49%;
  opacity: 1.3028891084;
  transform: rotate(201.6708641782deg);
  animation: drop-31 4.450359606s 0.2751961622s 1;
}

@keyframes drop-31 {
  100% {
    top: 110%;
    left: 54%;
  }
}
.confetti-32 {
  width: 4px;
  height: 1.6px;
  background-color: #d13447;
  top: -10%;
  left: 34%;
  opacity: 0.8270977853;
  transform: rotate(166.2638481301deg);
  animation: drop-32 4.9422761s 0.8607585856s 1;
}

@keyframes drop-32 {
  100% {
    top: 110%;
    left: 49%;
  }
}
.confetti-33 {
  width: 5px;
  height: 2px;
  background-color: #263672;
  top: -10%;
  left: 94%;
  opacity: 0.9041367153;
  transform: rotate(336.5699537727deg);
  animation: drop-33 4.4328799131s 0.3653436732s 1;
}

@keyframes drop-33 {
  100% {
    top: 110%;
    left: 104%;
  }
}
.confetti-34 {
  width: 7px;
  height: 2.8px;
  background-color: #d13447;
  top: -10%;
  left: 71%;
  opacity: 1.4241561301;
  transform: rotate(322.3538883772deg);
  animation: drop-34 4.8967502025s 0.9550594039s 1;
}

@keyframes drop-34 {
  100% {
    top: 110%;
    left: 77%;
  }
}
.confetti-35 {
  width: 1px;
  height: 0.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 45%;
  opacity: 0.626436352;
  transform: rotate(254.3615712212deg);
  animation: drop-35 4.48457538s 0.562241945s 1;
}

@keyframes drop-35 {
  100% {
    top: 110%;
    left: 59%;
  }
}
.confetti-36 {
  width: 3px;
  height: 1.2px;
  background-color: #d13447;
  top: -10%;
  left: 25%;
  opacity: 0.7908967067;
  transform: rotate(276.3185841589deg);
  animation: drop-36 4.4921419565s 0.1582470615s 1;
}

@keyframes drop-36 {
  100% {
    top: 110%;
    left: 32%;
  }
}
.confetti-37 {
  width: 6px;
  height: 2.4px;
  background-color: #d13447;
  top: -10%;
  left: 46%;
  opacity: 1.4823962879;
  transform: rotate(260.2551911778deg);
  animation: drop-37 4.5950319591s 0.2292630803s 1;
}

@keyframes drop-37 {
  100% {
    top: 110%;
    left: 54%;
  }
}
.confetti-38 {
  width: 3px;
  height: 1.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 2%;
  opacity: 0.8600789027;
  transform: rotate(230.9985071426deg);
  animation: drop-38 4.4064417558s 0.8002803328s 1;
}

@keyframes drop-38 {
  100% {
    top: 110%;
    left: 9%;
  }
}
.confetti-39 {
  width: 4px;
  height: 1.6px;
  background-color: #d13447;
  top: -10%;
  left: 88%;
  opacity: 1.4736872382;
  transform: rotate(345.9765968884deg);
  animation: drop-39 4.4100049025s 0.5776450695s 1;
}

@keyframes drop-39 {
  100% {
    top: 110%;
    left: 91%;
  }
}
.confetti-40 {
  width: 6px;
  height: 2.4px;
  background-color: #d13447;
  top: -10%;
  left: 23%;
  opacity: 0.7385466646;
  transform: rotate(130.4375149414deg);
  animation: drop-40 4.5845212883s 0.3529631585s 1;
}

@keyframes drop-40 {
  100% {
    top: 110%;
    left: 34%;
  }
}
.confetti-41 {
  width: 3px;
  height: 1.2px;
  background-color: #263672;
  top: -10%;
  left: 71%;
  opacity: 1.0979085103;
  transform: rotate(288.3255200815deg);
  animation: drop-41 4.0798057618s 0.7801579381s 1;
}

@keyframes drop-41 {
  100% {
    top: 110%;
    left: 74%;
  }
}
.confetti-42 {
  width: 4px;
  height: 1.6px;
  background-color: #ffbf00;
  top: -10%;
  left: 42%;
  opacity: 0.5737766573;
  transform: rotate(174.1737719116deg);
  animation: drop-42 4.9885556017s 0.9113185183s 1;
}

@keyframes drop-42 {
  100% {
    top: 110%;
    left: 56%;
  }
}
.confetti-43 {
  width: 7px;
  height: 2.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 86%;
  opacity: 1.2924579326;
  transform: rotate(261.845828832deg);
  animation: drop-43 4.0163239784s 0.9598304386s 1;
}

@keyframes drop-43 {
  100% {
    top: 110%;
    left: 91%;
  }
}
.confetti-44 {
  width: 7px;
  height: 2.8px;
  background-color: #d13447;
  top: -10%;
  left: 65%;
  opacity: 1.1795128794;
  transform: rotate(288.0315022175deg);
  animation: drop-44 4.8483415507s 0.4331700183s 1;
}

@keyframes drop-44 {
  100% {
    top: 110%;
    left: 73%;
  }
}
.confetti-45 {
  width: 3px;
  height: 1.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 99%;
  opacity: 0.7742398942;
  transform: rotate(308.095039756deg);
  animation: drop-45 4.7134502137s 0.7124306987s 1;
}

@keyframes drop-45 {
  100% {
    top: 110%;
    left: 108%;
  }
}
.confetti-46 {
  width: 4px;
  height: 1.6px;
  background-color: #263672;
  top: -10%;
  left: 1%;
  opacity: 1.3924543085;
  transform: rotate(268.9656406718deg);
  animation: drop-46 4.5953951792s 0.235422028s 1;
}

@keyframes drop-46 {
  100% {
    top: 110%;
    left: 14%;
  }
}
.confetti-47 {
  width: 4px;
  height: 1.6px;
  background-color: #263672;
  top: -10%;
  left: 72%;
  opacity: 0.8839627472;
  transform: rotate(304.8572594542deg);
  animation: drop-47 4.4805172391s 0.9310957555s 1;
}

@keyframes drop-47 {
  100% {
    top: 110%;
    left: 81%;
  }
}
.confetti-48 {
  width: 6px;
  height: 2.4px;
  background-color: #d13447;
  top: -10%;
  left: 51%;
  opacity: 1.4192734368;
  transform: rotate(254.2681407399deg);
  animation: drop-48 4.5758249522s 0.7751767495s 1;
}

@keyframes drop-48 {
  100% {
    top: 110%;
    left: 52%;
  }
}
.confetti-49 {
  width: 8px;
  height: 3.2px;
  background-color: #d13447;
  top: -10%;
  left: 73%;
  opacity: 1.1979956435;
  transform: rotate(329.7764430246deg);
  animation: drop-49 4.6269024575s 0.6484450013s 1;
}

@keyframes drop-49 {
  100% {
    top: 110%;
    left: 75%;
  }
}
.confetti-50 {
  width: 1px;
  height: 0.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 80%;
  opacity: 1.2847304546;
  transform: rotate(321.1354634721deg);
  animation: drop-50 4.9896282935s 0.659806096s 1;
}

@keyframes drop-50 {
  100% {
    top: 110%;
    left: 84%;
  }
}
.confetti-51 {
  width: 6px;
  height: 2.4px;
  background-color: #263672;
  top: -10%;
  left: 47%;
  opacity: 1.0464748963;
  transform: rotate(125.0480386504deg);
  animation: drop-51 4.0679930162s 0.9192149205s 1;
}

@keyframes drop-51 {
  100% {
    top: 110%;
    left: 48%;
  }
}
.confetti-52 {
  width: 4px;
  height: 1.6px;
  background-color: #ffbf00;
  top: -10%;
  left: 49%;
  opacity: 0.9355343343;
  transform: rotate(309.8712407133deg);
  animation: drop-52 4.9535546634s 0.9847885167s 1;
}

@keyframes drop-52 {
  100% {
    top: 110%;
    left: 58%;
  }
}
.confetti-53 {
  width: 5px;
  height: 2px;
  background-color: #263672;
  top: -10%;
  left: 5%;
  opacity: 0.9466195012;
  transform: rotate(125.731871286deg);
  animation: drop-53 4.5432347805s 0.0022524385s 1;
}

@keyframes drop-53 {
  100% {
    top: 110%;
    left: 8%;
  }
}
.confetti-54 {
  width: 6px;
  height: 2.4px;
  background-color: #d13447;
  top: -10%;
  left: 2%;
  opacity: 0.6480216137;
  transform: rotate(44.4514755331deg);
  animation: drop-54 4.9380101908s 0.815009981s 1;
}

@keyframes drop-54 {
  100% {
    top: 110%;
    left: 11%;
  }
}
.confetti-55 {
  width: 3px;
  height: 1.2px;
  background-color: #263672;
  top: -10%;
  left: 86%;
  opacity: 0.8350512231;
  transform: rotate(248.5155628021deg);
  animation: drop-55 4.079190605s 0.088832223s 1;
}

@keyframes drop-55 {
  100% {
    top: 110%;
    left: 100%;
  }
}
.confetti-56 {
  width: 3px;
  height: 1.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 74%;
  opacity: 1.3392690165;
  transform: rotate(72.5760938072deg);
  animation: drop-56 4.7156263974s 0.4620056091s 1;
}

@keyframes drop-56 {
  100% {
    top: 110%;
    left: 80%;
  }
}
.confetti-57 {
  width: 7px;
  height: 2.8px;
  background-color: #d13447;
  top: -10%;
  left: 7%;
  opacity: 1.0621150879;
  transform: rotate(202.7066426532deg);
  animation: drop-57 4.7034260835s 0.6634336179s 1;
}

@keyframes drop-57 {
  100% {
    top: 110%;
    left: 10%;
  }
}
.confetti-58 {
  width: 8px;
  height: 3.2px;
  background-color: #d13447;
  top: -10%;
  left: 27%;
  opacity: 0.9154480014;
  transform: rotate(122.9425578543deg);
  animation: drop-58 4.4361075547s 0.6222421711s 1;
}

@keyframes drop-58 {
  100% {
    top: 110%;
    left: 41%;
  }
}
.confetti-59 {
  width: 7px;
  height: 2.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 7%;
  opacity: 1.1019834379;
  transform: rotate(138.9124431024deg);
  animation: drop-59 4.2730151104s 0.4830899669s 1;
}

@keyframes drop-59 {
  100% {
    top: 110%;
    left: 10%;
  }
}
.confetti-60 {
  width: 8px;
  height: 3.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 61%;
  opacity: 1.2379611704;
  transform: rotate(302.2857798556deg);
  animation: drop-60 4.7920038257s 0.9079378789s 1;
}

@keyframes drop-60 {
  100% {
    top: 110%;
    left: 63%;
  }
}
.confetti-61 {
  width: 2px;
  height: 0.8px;
  background-color: #263672;
  top: -10%;
  left: 40%;
  opacity: 0.645753289;
  transform: rotate(338.4906649981deg);
  animation: drop-61 4.9581496868s 0.3643162664s 1;
}

@keyframes drop-61 {
  100% {
    top: 110%;
    left: 50%;
  }
}
.confetti-62 {
  width: 2px;
  height: 0.8px;
  background-color: #d13447;
  top: -10%;
  left: 62%;
  opacity: 0.8855925962;
  transform: rotate(16.6041760932deg);
  animation: drop-62 4.9491734037s 0.5393782198s 1;
}

@keyframes drop-62 {
  100% {
    top: 110%;
    left: 63%;
  }
}
.confetti-63 {
  width: 2px;
  height: 0.8px;
  background-color: #d13447;
  top: -10%;
  left: 74%;
  opacity: 1.2549448651;
  transform: rotate(165.6181113225deg);
  animation: drop-63 4.0923153922s 0.0544772668s 1;
}

@keyframes drop-63 {
  100% {
    top: 110%;
    left: 88%;
  }
}
.confetti-64 {
  width: 6px;
  height: 2.4px;
  background-color: #d13447;
  top: -10%;
  left: 60%;
  opacity: 0.6041360212;
  transform: rotate(105.7914485887deg);
  animation: drop-64 4.4928046687s 0.9650712917s 1;
}

@keyframes drop-64 {
  100% {
    top: 110%;
    left: 71%;
  }
}
.confetti-65 {
  width: 3px;
  height: 1.2px;
  background-color: #d13447;
  top: -10%;
  left: 1%;
  opacity: 0.8682741185;
  transform: rotate(9.7620071341deg);
  animation: drop-65 4.62616038s 0.9416166952s 1;
}

@keyframes drop-65 {
  100% {
    top: 110%;
    left: 11%;
  }
}
.confetti-66 {
  width: 3px;
  height: 1.2px;
  background-color: #263672;
  top: -10%;
  left: 92%;
  opacity: 1.0703378894;
  transform: rotate(13.0098355027deg);
  animation: drop-66 4.8815830326s 0.5650085771s 1;
}

@keyframes drop-66 {
  100% {
    top: 110%;
    left: 102%;
  }
}
.confetti-67 {
  width: 3px;
  height: 1.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 31%;
  opacity: 1.1693226346;
  transform: rotate(268.6761683733deg);
  animation: drop-67 4.8146235667s 0.1305241952s 1;
}

@keyframes drop-67 {
  100% {
    top: 110%;
    left: 41%;
  }
}
.confetti-68 {
  width: 7px;
  height: 2.8px;
  background-color: #d13447;
  top: -10%;
  left: 73%;
  opacity: 1.4733949422;
  transform: rotate(136.6205081027deg);
  animation: drop-68 4.0035851714s 0.0503482135s 1;
}

@keyframes drop-68 {
  100% {
    top: 110%;
    left: 75%;
  }
}
.confetti-69 {
  width: 1px;
  height: 0.4px;
  background-color: #d13447;
  top: -10%;
  left: 86%;
  opacity: 1.0261994479;
  transform: rotate(228.3381342644deg);
  animation: drop-69 4.2756277781s 0.7056100743s 1;
}

@keyframes drop-69 {
  100% {
    top: 110%;
    left: 98%;
  }
}
.confetti-70 {
  width: 5px;
  height: 2px;
  background-color: #263672;
  top: -10%;
  left: 37%;
  opacity: 1.1093805292;
  transform: rotate(208.5378303358deg);
  animation: drop-70 4.1753988437s 0.3903565236s 1;
}

@keyframes drop-70 {
  100% {
    top: 110%;
    left: 52%;
  }
}
.confetti-71 {
  width: 6px;
  height: 2.4px;
  background-color: #d13447;
  top: -10%;
  left: 69%;
  opacity: 1.3207177015;
  transform: rotate(149.8126865965deg);
  animation: drop-71 4.0812317936s 0.574358693s 1;
}

@keyframes drop-71 {
  100% {
    top: 110%;
    left: 72%;
  }
}
.confetti-72 {
  width: 8px;
  height: 3.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 38%;
  opacity: 1.0642482176;
  transform: rotate(290.267206895deg);
  animation: drop-72 4.5637156732s 0.5576047677s 1;
}

@keyframes drop-72 {
  100% {
    top: 110%;
    left: 43%;
  }
}
.confetti-73 {
  width: 4px;
  height: 1.6px;
  background-color: #ffbf00;
  top: -10%;
  left: 38%;
  opacity: 0.696384657;
  transform: rotate(245.8255613616deg);
  animation: drop-73 4.8772423845s 0.5889596756s 1;
}

@keyframes drop-73 {
  100% {
    top: 110%;
    left: 53%;
  }
}
.confetti-74 {
  width: 6px;
  height: 2.4px;
  background-color: #d13447;
  top: -10%;
  left: 100%;
  opacity: 1.2354922645;
  transform: rotate(240.6116165683deg);
  animation: drop-74 4.2242356184s 0.106114043s 1;
}

@keyframes drop-74 {
  100% {
    top: 110%;
    left: 106%;
  }
}
.confetti-75 {
  width: 2px;
  height: 0.8px;
  background-color: #d13447;
  top: -10%;
  left: 29%;
  opacity: 1.0693592996;
  transform: rotate(268.8914574266deg);
  animation: drop-75 4.6341715514s 0.2993597173s 1;
}

@keyframes drop-75 {
  100% {
    top: 110%;
    left: 32%;
  }
}
.confetti-76 {
  width: 6px;
  height: 2.4px;
  background-color: #d13447;
  top: -10%;
  left: 76%;
  opacity: 0.525499814;
  transform: rotate(299.669859223deg);
  animation: drop-76 4.5405688705s 0.384647517s 1;
}

@keyframes drop-76 {
  100% {
    top: 110%;
    left: 89%;
  }
}
.confetti-77 {
  width: 3px;
  height: 1.2px;
  background-color: #263672;
  top: -10%;
  left: 80%;
  opacity: 0.5060904563;
  transform: rotate(229.6241840651deg);
  animation: drop-77 4.9376349835s 0.6009690513s 1;
}

@keyframes drop-77 {
  100% {
    top: 110%;
    left: 84%;
  }
}
.confetti-78 {
  width: 4px;
  height: 1.6px;
  background-color: #d13447;
  top: -10%;
  left: 21%;
  opacity: 0.7679094698;
  transform: rotate(142.4184336578deg);
  animation: drop-78 4.2603375183s 0.52764459s 1;
}

@keyframes drop-78 {
  100% {
    top: 110%;
    left: 23%;
  }
}
.confetti-79 {
  width: 8px;
  height: 3.2px;
  background-color: #d13447;
  top: -10%;
  left: 21%;
  opacity: 0.9415241631;
  transform: rotate(91.3202066594deg);
  animation: drop-79 4.4107977566s 0.0059678742s 1;
}

@keyframes drop-79 {
  100% {
    top: 110%;
    left: 22%;
  }
}
.confetti-80 {
  width: 8px;
  height: 3.2px;
  background-color: #d13447;
  top: -10%;
  left: 45%;
  opacity: 0.6944729097;
  transform: rotate(345.8593498213deg);
  animation: drop-80 4.5265114619s 0.0029945914s 1;
}

@keyframes drop-80 {
  100% {
    top: 110%;
    left: 47%;
  }
}
.confetti-81 {
  width: 1px;
  height: 0.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 70%;
  opacity: 1.3002171967;
  transform: rotate(348.2538817981deg);
  animation: drop-81 4.8467031586s 0.5860924392s 1;
}

@keyframes drop-81 {
  100% {
    top: 110%;
    left: 80%;
  }
}
.confetti-82 {
  width: 3px;
  height: 1.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 50%;
  opacity: 0.7565383872;
  transform: rotate(311.9856287965deg);
  animation: drop-82 4.7856572072s 0.4947882194s 1;
}

@keyframes drop-82 {
  100% {
    top: 110%;
    left: 55%;
  }
}
.confetti-83 {
  width: 1px;
  height: 0.4px;
  background-color: #d13447;
  top: -10%;
  left: 32%;
  opacity: 1.4734489819;
  transform: rotate(324.5582356336deg);
  animation: drop-83 4.113836409s 0.7351153231s 1;
}

@keyframes drop-83 {
  100% {
    top: 110%;
    left: 42%;
  }
}
.confetti-84 {
  width: 1px;
  height: 0.4px;
  background-color: #d13447;
  top: -10%;
  left: 57%;
  opacity: 0.8440101154;
  transform: rotate(345.7360501514deg);
  animation: drop-84 4.8935492381s 0.4990044156s 1;
}

@keyframes drop-84 {
  100% {
    top: 110%;
    left: 61%;
  }
}
.confetti-85 {
  width: 1px;
  height: 0.4px;
  background-color: #d13447;
  top: -10%;
  left: 82%;
  opacity: 1.3011450972;
  transform: rotate(335.64339968deg);
  animation: drop-85 4.5250608501s 0.9172218451s 1;
}

@keyframes drop-85 {
  100% {
    top: 110%;
    left: 84%;
  }
}
.confetti-86 {
  width: 8px;
  height: 3.2px;
  background-color: #263672;
  top: -10%;
  left: 69%;
  opacity: 1.2954732561;
  transform: rotate(124.6379286722deg);
  animation: drop-86 4.4654761423s 0.3345251652s 1;
}

@keyframes drop-86 {
  100% {
    top: 110%;
    left: 79%;
  }
}
.confetti-87 {
  width: 6px;
  height: 2.4px;
  background-color: #d13447;
  top: -10%;
  left: 9%;
  opacity: 1.3076479102;
  transform: rotate(59.129855745deg);
  animation: drop-87 4.802284737s 0.6978059215s 1;
}

@keyframes drop-87 {
  100% {
    top: 110%;
    left: 23%;
  }
}
.confetti-88 {
  width: 3px;
  height: 1.2px;
  background-color: #263672;
  top: -10%;
  left: 74%;
  opacity: 1.4256314429;
  transform: rotate(290.5351141299deg);
  animation: drop-88 4.9178445081s 0.4802942717s 1;
}

@keyframes drop-88 {
  100% {
    top: 110%;
    left: 88%;
  }
}
.confetti-89 {
  width: 7px;
  height: 2.8px;
  background-color: #d13447;
  top: -10%;
  left: 34%;
  opacity: 0.8229102095;
  transform: rotate(11.3153780307deg);
  animation: drop-89 4.3999856993s 0.9391856929s 1;
}

@keyframes drop-89 {
  100% {
    top: 110%;
    left: 38%;
  }
}
.confetti-90 {
  width: 5px;
  height: 2px;
  background-color: #ffbf00;
  top: -10%;
  left: 54%;
  opacity: 0.6138690291;
  transform: rotate(291.514478419deg);
  animation: drop-90 4.6932943329s 0.4038597463s 1;
}

@keyframes drop-90 {
  100% {
    top: 110%;
    left: 55%;
  }
}
.confetti-91 {
  width: 8px;
  height: 3.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 80%;
  opacity: 1.0377400463;
  transform: rotate(234.484088941deg);
  animation: drop-91 4.89002738s 0.0584509725s 1;
}

@keyframes drop-91 {
  100% {
    top: 110%;
    left: 88%;
  }
}
.confetti-92 {
  width: 2px;
  height: 0.8px;
  background-color: #263672;
  top: -10%;
  left: 66%;
  opacity: 0.5705833267;
  transform: rotate(274.3801992117deg);
  animation: drop-92 4.66868144s 0.0149678494s 1;
}

@keyframes drop-92 {
  100% {
    top: 110%;
    left: 71%;
  }
}
.confetti-93 {
  width: 6px;
  height: 2.4px;
  background-color: #263672;
  top: -10%;
  left: 6%;
  opacity: 1.2886885934;
  transform: rotate(341.4696647362deg);
  animation: drop-93 4.1766934498s 0.3671770702s 1;
}

@keyframes drop-93 {
  100% {
    top: 110%;
    left: 11%;
  }
}
.confetti-94 {
  width: 5px;
  height: 2px;
  background-color: #263672;
  top: -10%;
  left: 73%;
  opacity: 1.411983452;
  transform: rotate(21.4083315434deg);
  animation: drop-94 4.4873489861s 0.959773603s 1;
}

@keyframes drop-94 {
  100% {
    top: 110%;
    left: 81%;
  }
}
.confetti-95 {
  width: 4px;
  height: 1.6px;
  background-color: #d13447;
  top: -10%;
  left: 18%;
  opacity: 1.4077327489;
  transform: rotate(269.9247831deg);
  animation: drop-95 4.371616606s 0.2104363242s 1;
}

@keyframes drop-95 {
  100% {
    top: 110%;
    left: 23%;
  }
}
.confetti-96 {
  width: 2px;
  height: 0.8px;
  background-color: #d13447;
  top: -10%;
  left: 59%;
  opacity: 1.2882426528;
  transform: rotate(139.3092121936deg);
  animation: drop-96 4.0761378676s 0.7082457268s 1;
}

@keyframes drop-96 {
  100% {
    top: 110%;
    left: 66%;
  }
}
.confetti-97 {
  width: 8px;
  height: 3.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 71%;
  opacity: 0.7576713308;
  transform: rotate(135.6022621044deg);
  animation: drop-97 4.5576299053s 0.4365963346s 1;
}

@keyframes drop-97 {
  100% {
    top: 110%;
    left: 85%;
  }
}
.confetti-98 {
  width: 4px;
  height: 1.6px;
  background-color: #d13447;
  top: -10%;
  left: 95%;
  opacity: 0.5740275303;
  transform: rotate(144.7544541305deg);
  animation: drop-98 4.8862317312s 0.7930493723s 1;
}

@keyframes drop-98 {
  100% {
    top: 110%;
    left: 108%;
  }
}
.confetti-99 {
  width: 8px;
  height: 3.2px;
  background-color: #d13447;
  top: -10%;
  left: 40%;
  opacity: 1.370681803;
  transform: rotate(127.183083143deg);
  animation: drop-99 4.9315727255s 0.3896795324s 1;
}

@keyframes drop-99 {
  100% {
    top: 110%;
    left: 51%;
  }
}
.confetti-100 {
  width: 6px;
  height: 2.4px;
  background-color: #d13447;
  top: -10%;
  left: 8%;
  opacity: 0.7919498309;
  transform: rotate(349.1766041461deg);
  animation: drop-100 4.7548021617s 0.9374931858s 1;
}

@keyframes drop-100 {
  100% {
    top: 110%;
    left: 10%;
  }
}
.confetti-101 {
  width: 3px;
  height: 1.2px;
  background-color: #263672;
  top: -10%;
  left: 85%;
  opacity: 1.0361723715;
  transform: rotate(254.0124692592deg);
  animation: drop-101 4.7510746706s 0.4425435093s 1;
}

@keyframes drop-101 {
  100% {
    top: 110%;
    left: 91%;
  }
}
.confetti-102 {
  width: 5px;
  height: 2px;
  background-color: #ffbf00;
  top: -10%;
  left: 60%;
  opacity: 0.7285285438;
  transform: rotate(94.889599323deg);
  animation: drop-102 4.3136581377s 0.1404701698s 1;
}

@keyframes drop-102 {
  100% {
    top: 110%;
    left: 66%;
  }
}
.confetti-103 {
  width: 1px;
  height: 0.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 79%;
  opacity: 0.8015453928;
  transform: rotate(351.3863684971deg);
  animation: drop-103 4.4178360543s 0.7671969343s 1;
}

@keyframes drop-103 {
  100% {
    top: 110%;
    left: 80%;
  }
}
.confetti-104 {
  width: 5px;
  height: 2px;
  background-color: #d13447;
  top: -10%;
  left: 77%;
  opacity: 0.8956940164;
  transform: rotate(35.5300105222deg);
  animation: drop-104 4.1141005015s 0.2208569334s 1;
}

@keyframes drop-104 {
  100% {
    top: 110%;
    left: 89%;
  }
}
.confetti-105 {
  width: 7px;
  height: 2.8px;
  background-color: #d13447;
  top: -10%;
  left: 13%;
  opacity: 1.4000759399;
  transform: rotate(300.3631241691deg);
  animation: drop-105 4.9637195791s 0.103891638s 1;
}

@keyframes drop-105 {
  100% {
    top: 110%;
    left: 20%;
  }
}
.confetti-106 {
  width: 8px;
  height: 3.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 70%;
  opacity: 0.8053067031;
  transform: rotate(308.9529712942deg);
  animation: drop-106 4.5852164693s 0.3398422626s 1;
}

@keyframes drop-106 {
  100% {
    top: 110%;
    left: 79%;
  }
}
.confetti-107 {
  width: 5px;
  height: 2px;
  background-color: #d13447;
  top: -10%;
  left: 32%;
  opacity: 0.7702521257;
  transform: rotate(215.4430961479deg);
  animation: drop-107 4.158747787s 0.7896460871s 1;
}

@keyframes drop-107 {
  100% {
    top: 110%;
    left: 45%;
  }
}
.confetti-108 {
  width: 5px;
  height: 2px;
  background-color: #263672;
  top: -10%;
  left: 65%;
  opacity: 1.3105342208;
  transform: rotate(58.9440579904deg);
  animation: drop-108 4.8278918515s 0.9848883181s 1;
}

@keyframes drop-108 {
  100% {
    top: 110%;
    left: 72%;
  }
}
.confetti-109 {
  width: 3px;
  height: 1.2px;
  background-color: #d13447;
  top: -10%;
  left: 71%;
  opacity: 1.2928978406;
  transform: rotate(132.6780928641deg);
  animation: drop-109 4.9869597443s 0.3291586594s 1;
}

@keyframes drop-109 {
  100% {
    top: 110%;
    left: 73%;
  }
}
.confetti-110 {
  width: 7px;
  height: 2.8px;
  background-color: #d13447;
  top: -10%;
  left: 54%;
  opacity: 0.5046431061;
  transform: rotate(56.6386908898deg);
  animation: drop-110 4.585107176s 0.523797063s 1;
}

@keyframes drop-110 {
  100% {
    top: 110%;
    left: 59%;
  }
}
.confetti-111 {
  width: 2px;
  height: 0.8px;
  background-color: #263672;
  top: -10%;
  left: 57%;
  opacity: 0.7698619929;
  transform: rotate(332.3717886196deg);
  animation: drop-111 4.9848703544s 0.7478316645s 1;
}

@keyframes drop-111 {
  100% {
    top: 110%;
    left: 70%;
  }
}
.confetti-112 {
  width: 6px;
  height: 2.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 10%;
  opacity: 0.7515266338;
  transform: rotate(120.1117492592deg);
  animation: drop-112 4.4415063132s 0.1978169786s 1;
}

@keyframes drop-112 {
  100% {
    top: 110%;
    left: 25%;
  }
}
.confetti-113 {
  width: 6px;
  height: 2.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 61%;
  opacity: 0.7555600495;
  transform: rotate(187.8985376142deg);
  animation: drop-113 4.3180877667s 0.5584856691s 1;
}

@keyframes drop-113 {
  100% {
    top: 110%;
    left: 75%;
  }
}
.confetti-114 {
  width: 6px;
  height: 2.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 37%;
  opacity: 1.4418492698;
  transform: rotate(6.3053175838deg);
  animation: drop-114 4.7580751439s 0.1043681935s 1;
}

@keyframes drop-114 {
  100% {
    top: 110%;
    left: 51%;
  }
}
.confetti-115 {
  width: 8px;
  height: 3.2px;
  background-color: #263672;
  top: -10%;
  left: 84%;
  opacity: 1.1870563587;
  transform: rotate(11.3110429345deg);
  animation: drop-115 4.5135766438s 0.6353594259s 1;
}

@keyframes drop-115 {
  100% {
    top: 110%;
    left: 88%;
  }
}
.confetti-116 {
  width: 4px;
  height: 1.6px;
  background-color: #d13447;
  top: -10%;
  left: 78%;
  opacity: 0.7247770358;
  transform: rotate(313.1743771299deg);
  animation: drop-116 4.9915685779s 0.8032534042s 1;
}

@keyframes drop-116 {
  100% {
    top: 110%;
    left: 82%;
  }
}
.confetti-117 {
  width: 7px;
  height: 2.8px;
  background-color: #263672;
  top: -10%;
  left: 55%;
  opacity: 1.3874269611;
  transform: rotate(144.803074849deg);
  animation: drop-117 4.0100292597s 0.2410492123s 1;
}

@keyframes drop-117 {
  100% {
    top: 110%;
    left: 64%;
  }
}
.confetti-118 {
  width: 2px;
  height: 0.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 80%;
  opacity: 1.1608300874;
  transform: rotate(300.6539600893deg);
  animation: drop-118 4.4662303979s 0.8121372971s 1;
}

@keyframes drop-118 {
  100% {
    top: 110%;
    left: 92%;
  }
}
.confetti-119 {
  width: 2px;
  height: 0.8px;
  background-color: #d13447;
  top: -10%;
  left: 11%;
  opacity: 0.7738754827;
  transform: rotate(98.3570054213deg);
  animation: drop-119 4.4369290379s 0.7512031693s 1;
}

@keyframes drop-119 {
  100% {
    top: 110%;
    left: 12%;
  }
}
.confetti-120 {
  width: 7px;
  height: 2.8px;
  background-color: #d13447;
  top: -10%;
  left: 68%;
  opacity: 1.496117649;
  transform: rotate(251.8410205253deg);
  animation: drop-120 4.6951429834s 0.153761166s 1;
}

@keyframes drop-120 {
  100% {
    top: 110%;
    left: 83%;
  }
}
.confetti-121 {
  width: 7px;
  height: 2.8px;
  background-color: #d13447;
  top: -10%;
  left: 25%;
  opacity: 0.5547608618;
  transform: rotate(20.5941427018deg);
  animation: drop-121 4.9116291896s 0.5427799733s 1;
}

@keyframes drop-121 {
  100% {
    top: 110%;
    left: 34%;
  }
}
.confetti-122 {
  width: 2px;
  height: 0.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 6%;
  opacity: 1.2440942566;
  transform: rotate(281.0222934306deg);
  animation: drop-122 4.8031410818s 0.3301778281s 1;
}

@keyframes drop-122 {
  100% {
    top: 110%;
    left: 18%;
  }
}
.confetti-123 {
  width: 4px;
  height: 1.6px;
  background-color: #ffbf00;
  top: -10%;
  left: 76%;
  opacity: 1.2385600472;
  transform: rotate(95.7365955273deg);
  animation: drop-123 4.7877632606s 0.4757252878s 1;
}

@keyframes drop-123 {
  100% {
    top: 110%;
    left: 88%;
  }
}
.confetti-124 {
  width: 3px;
  height: 1.2px;
  background-color: #263672;
  top: -10%;
  left: 64%;
  opacity: 1.0024729635;
  transform: rotate(34.5581533973deg);
  animation: drop-124 4.9642096082s 0.8342448752s 1;
}

@keyframes drop-124 {
  100% {
    top: 110%;
    left: 65%;
  }
}
.confetti-125 {
  width: 2px;
  height: 0.8px;
  background-color: #d13447;
  top: -10%;
  left: 1%;
  opacity: 0.9761997115;
  transform: rotate(272.2785021787deg);
  animation: drop-125 4.9128973865s 0.2895695428s 1;
}

@keyframes drop-125 {
  100% {
    top: 110%;
    left: 9%;
  }
}
.confetti-126 {
  width: 1px;
  height: 0.4px;
  background-color: #d13447;
  top: -10%;
  left: 73%;
  opacity: 0.8419857885;
  transform: rotate(152.7571011965deg);
  animation: drop-126 4.2798982247s 0.2691108509s 1;
}

@keyframes drop-126 {
  100% {
    top: 110%;
    left: 88%;
  }
}
.confetti-127 {
  width: 7px;
  height: 2.8px;
  background-color: #d13447;
  top: -10%;
  left: 59%;
  opacity: 0.6661843883;
  transform: rotate(324.064357671deg);
  animation: drop-127 4.3875559195s 0.2073429452s 1;
}

@keyframes drop-127 {
  100% {
    top: 110%;
    left: 60%;
  }
}
.confetti-128 {
  width: 8px;
  height: 3.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 31%;
  opacity: 0.6642136299;
  transform: rotate(56.9031028648deg);
  animation: drop-128 4.2730539178s 0.7455347568s 1;
}

@keyframes drop-128 {
  100% {
    top: 110%;
    left: 40%;
  }
}
.confetti-129 {
  width: 1px;
  height: 0.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 93%;
  opacity: 1.1856021506;
  transform: rotate(103.2548166581deg);
  animation: drop-129 4.0220196113s 0.1401973288s 1;
}

@keyframes drop-129 {
  100% {
    top: 110%;
    left: 108%;
  }
}
.confetti-130 {
  width: 8px;
  height: 3.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 33%;
  opacity: 0.7843518864;
  transform: rotate(178.8956416384deg);
  animation: drop-130 4.9629287429s 0.8322669699s 1;
}

@keyframes drop-130 {
  100% {
    top: 110%;
    left: 37%;
  }
}
.confetti-131 {
  width: 1px;
  height: 0.4px;
  background-color: #d13447;
  top: -10%;
  left: 100%;
  opacity: 0.7003317458;
  transform: rotate(266.0266692782deg);
  animation: drop-131 4.3291293206s 0.1432900195s 1;
}

@keyframes drop-131 {
  100% {
    top: 110%;
    left: 107%;
  }
}
.confetti-132 {
  width: 4px;
  height: 1.6px;
  background-color: #ffbf00;
  top: -10%;
  left: 1%;
  opacity: 1.3052159972;
  transform: rotate(99.6849127966deg);
  animation: drop-132 4.896096519s 0.7651067229s 1;
}

@keyframes drop-132 {
  100% {
    top: 110%;
    left: 2%;
  }
}
.confetti-133 {
  width: 2px;
  height: 0.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 33%;
  opacity: 1.2710116366;
  transform: rotate(122.1300733988deg);
  animation: drop-133 4.7941433606s 0.4520499623s 1;
}

@keyframes drop-133 {
  100% {
    top: 110%;
    left: 47%;
  }
}
.confetti-134 {
  width: 3px;
  height: 1.2px;
  background-color: #d13447;
  top: -10%;
  left: 44%;
  opacity: 0.5731170732;
  transform: rotate(290.3734412745deg);
  animation: drop-134 4.8463225385s 0.9493824122s 1;
}

@keyframes drop-134 {
  100% {
    top: 110%;
    left: 50%;
  }
}
.confetti-135 {
  width: 1px;
  height: 0.4px;
  background-color: #263672;
  top: -10%;
  left: 69%;
  opacity: 1.0094725147;
  transform: rotate(80.9829837603deg);
  animation: drop-135 4.4084175618s 0.7642002789s 1;
}

@keyframes drop-135 {
  100% {
    top: 110%;
    left: 79%;
  }
}
.confetti-136 {
  width: 2px;
  height: 0.8px;
  background-color: #d13447;
  top: -10%;
  left: 65%;
  opacity: 0.8941514448;
  transform: rotate(106.8295185661deg);
  animation: drop-136 4.6266037894s 0.5146593341s 1;
}

@keyframes drop-136 {
  100% {
    top: 110%;
    left: 77%;
  }
}
.confetti-137 {
  width: 6px;
  height: 2.4px;
  background-color: #d13447;
  top: -10%;
  left: 65%;
  opacity: 0.7631711224;
  transform: rotate(197.6696619649deg);
  animation: drop-137 4.2864612968s 0.1746493473s 1;
}

@keyframes drop-137 {
  100% {
    top: 110%;
    left: 79%;
  }
}
.confetti-138 {
  width: 6px;
  height: 2.4px;
  background-color: #263672;
  top: -10%;
  left: 1%;
  opacity: 0.8468335535;
  transform: rotate(4.9468393482deg);
  animation: drop-138 4.4669667364s 0.4005365178s 1;
}

@keyframes drop-138 {
  100% {
    top: 110%;
    left: 7%;
  }
}
.confetti-139 {
  width: 4px;
  height: 1.6px;
  background-color: #d13447;
  top: -10%;
  left: 95%;
  opacity: 0.6123658269;
  transform: rotate(93.2418292878deg);
  animation: drop-139 4.8504962359s 0.2048098667s 1;
}

@keyframes drop-139 {
  100% {
    top: 110%;
    left: 110%;
  }
}
.confetti-140 {
  width: 6px;
  height: 2.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 73%;
  opacity: 1.1665407632;
  transform: rotate(233.2944803755deg);
  animation: drop-140 4.657099921s 0.259538926s 1;
}

@keyframes drop-140 {
  100% {
    top: 110%;
    left: 79%;
  }
}
.confetti-141 {
  width: 3px;
  height: 1.2px;
  background-color: #d13447;
  top: -10%;
  left: 23%;
  opacity: 1.0040437075;
  transform: rotate(228.650259366deg);
  animation: drop-141 4.5719707841s 0.7072249083s 1;
}

@keyframes drop-141 {
  100% {
    top: 110%;
    left: 26%;
  }
}
.confetti-142 {
  width: 7px;
  height: 2.8px;
  background-color: #d13447;
  top: -10%;
  left: 18%;
  opacity: 1.0235217628;
  transform: rotate(135.2976549544deg);
  animation: drop-142 4.6350894294s 0.918973823s 1;
}

@keyframes drop-142 {
  100% {
    top: 110%;
    left: 21%;
  }
}
.confetti-143 {
  width: 1px;
  height: 0.4px;
  background-color: #d13447;
  top: -10%;
  left: 16%;
  opacity: 0.6087409651;
  transform: rotate(95.6229947992deg);
  animation: drop-143 4.4520244801s 0.5351884036s 1;
}

@keyframes drop-143 {
  100% {
    top: 110%;
    left: 20%;
  }
}
.confetti-144 {
  width: 5px;
  height: 2px;
  background-color: #263672;
  top: -10%;
  left: 12%;
  opacity: 0.8106234062;
  transform: rotate(106.0180972471deg);
  animation: drop-144 4.5132977401s 0.4168304963s 1;
}

@keyframes drop-144 {
  100% {
    top: 110%;
    left: 20%;
  }
}
.confetti-145 {
  width: 1px;
  height: 0.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 90%;
  opacity: 0.567317536;
  transform: rotate(55.5963875338deg);
  animation: drop-145 4.9018239753s 0.0071732702s 1;
}

@keyframes drop-145 {
  100% {
    top: 110%;
    left: 95%;
  }
}
.confetti-146 {
  width: 4px;
  height: 1.6px;
  background-color: #d13447;
  top: -10%;
  left: 8%;
  opacity: 1.4478617857;
  transform: rotate(193.4809646966deg);
  animation: drop-146 4.4749797595s 0.3730104787s 1;
}

@keyframes drop-146 {
  100% {
    top: 110%;
    left: 19%;
  }
}
.confetti-147 {
  width: 6px;
  height: 2.4px;
  background-color: #d13447;
  top: -10%;
  left: 89%;
  opacity: 0.8502693113;
  transform: rotate(0.1491420136deg);
  animation: drop-147 4.6646155061s 0.0836915669s 1;
}

@keyframes drop-147 {
  100% {
    top: 110%;
    left: 97%;
  }
}
.confetti-148 {
  width: 3px;
  height: 1.2px;
  background-color: #d13447;
  top: -10%;
  left: 6%;
  opacity: 0.6622230493;
  transform: rotate(319.1181067347deg);
  animation: drop-148 4.2855110776s 0.8830712186s 1;
}

@keyframes drop-148 {
  100% {
    top: 110%;
    left: 15%;
  }
}
.confetti-149 {
  width: 2px;
  height: 0.8px;
  background-color: #d13447;
  top: -10%;
  left: 27%;
  opacity: 0.7223802527;
  transform: rotate(19.2165049716deg);
  animation: drop-149 4.9937133543s 0.2100685565s 1;
}

@keyframes drop-149 {
  100% {
    top: 110%;
    left: 41%;
  }
}
.confetti-150 {
  width: 5px;
  height: 2px;
  background-color: #ffbf00;
  top: -10%;
  left: 58%;
  opacity: 1.2324961532;
  transform: rotate(302.3882187324deg);
  animation: drop-150 4.2344622987s 0.0968407336s 1;
}

@keyframes drop-150 {
  100% {
    top: 110%;
    left: 67%;
  }
}
.gameOver {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  background-color: #333;
  color: white;
  width: 80vw;
  padding: 5vw;
  top: 20%;
  left: 5vw;
  transform: translateY(-50%);
  z-index: 2;
  transform: scale(0);
  transition-timing-function: cubic-bezier(0.32, -0.62, 0.83, 0.67);
}
.gameOver button {
  width: 10em;
  outline: none;
  background: #3f51b5;
  color: white;
  font-weight: 700;
  padding: 0.5em;
  border-radius: 3px;
  border: none;
  margin: 1em 0.5em;
}

.gamesDone {
  display: block;
}

.gamesOver {
  transform: scale(1);
}

/*# sourceMappingURL=style.css.map */
